---
layout: page
permalink: /clenstvi/
---

<div class="row">
    <div class="columns medium-3">
        <h2 class="text-center">Náklady</h2>
        <p class="text-center"><i class="fas fa-user fa-5x"></i></p>
        <p class="text-center">1,5 Kč / obyvatele / rok</p>
    </div>
    <div class="columns medium-4">
        <h2>Členství přináší</h2>
        <ul>
            <li>rozhodování o činnosti spolku včetně <a href="{{'/projekty' | base_url}}">projektů</a></li>
            <li>sdílené know-how</li>
            <li>plnou podporu k projektu Cityvizor</li>
        </ul>
    </div>
    <div class="columns medium-4">
        <h2>Chci vstoupit</h2>
        <ol>
            <li>stáhnout <a href="{{'/media/docs/balicek.zip' | base_url}}">balíček</a> uchazeče o členství</li>
            <li>schválit členství na zastupitelstvu</li>
            <li>schválení členství výborem OM</li>
            <li>zaplacení členského příspěvku</li>
        </ol>
    </div>
</div>

<h1>Členské obce <sup id="a0"><a href="#f0"></a></sup></h1>

<style>
    #tabulka-clenu tr td:first-child {
        font-weight: bold;
    }

    #tabulka-clenu tr td:nth-child(n+2):nth-child(-n+7) {
        text-align: right;
        font-family: monospace;
    }
</style>

<table id="tabulka-clenu">
    <thead>
    <tr>
        <th>obec</th>
        <th style="text-align: right">občanů <sup id="a1"><a href="#f1">1</a></sup></th>
        <th style="text-align: right">cizinců <sup id="a1"><a href="#f1">1</a></sup></th>
        <th style="text-align: right">obyvatel</th>
        <th style="text-align: right">přepočet <sup id="a2"><a href="#f2">2</a></sup></th>
        <th style="text-align: right">úhrada <sup id="a3"><a href="#f3">3</a></sup></th>
        <th style="text-align: right">hlasů <sup id="a4"><a href="#f4">4</a></sup></th>
        <th>zastupuje</th>
        <th>členství</th>
    </tr>
    </thead>
    <tbody>
    {% for record in site.data.clenstvi %}
    <tr>
        <td>{{record['obec']}}</td>
        <td>{{record['občanů']}}</td>
        <td>{{record['cizinců']}}</td>
        <td>{{record['obyvatel']}}</td>
        <td>{{record['přepočet']}}</td>
        <td>{{ record['úhrada'] | times: 100 | money: 'CZK' }}</td>
        <td>{{record['hlasů']}}</td>
        <td>{{record['zastupuje']}}</td>
        <td>{{record['členství']}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<p><sup>
    <span id="f0">0</span> Aktualizováno <b>2020-06-30</b> <a href="#a0">↩</a><br/>
    <span id="f1">1</span> Údaje o počtu obyvatel jsou převzaty z informativních počtů občanů ČR a cizinců k 1. 1. 2018
    <a href="http://www.mvcr.cz/clanek/statistiky-pocty-obyvatel-v-obcich.aspx">zveřejněných na stránkách</a>
    Ministrstva vnitra České republiky <a href="#a1">↩</a> <br/>
    <span id="f2">2</span> Dle odstavce (7.3) stanov se v případě překrývajícího uzemí dvou členů dělí počet obyvatel
    rovnou měrou. <a href="#a2">↩</a> <br/>
    <span id="f3">3</span> Členský příspěvek činí 1,50 Kč na osobu z přepočtu obyvatel. U obcí přistoupivších v
    aktuálním roce je příspěvek snížený dle odstavce (5.6) na poměrnou část podle počtu celých kalendářních měsíců
    zbývajících do konce roku ode dne podání přihlášky <a href="#a3">↩</a><br/>
    <span id="f4">4</span> Dle odstavce (7.2) druhá odmocnina z přepočtu obyvatel. <a href="#a4">↩</a><br/>
</sup></p>

<h2 id="přidružené-členství">přidružené členství</h2>

<table>
    <thead>
    <tr>
        <th>subjekt</th>
        <th>zastupuje</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>EconLab</td>
        <td>Jiří Skuhrovec</td>
    </tr>
    <tr>
        <td>Frank Bold z.s.p.o.</td>
        <td>Jiří Nezhyba</td>
    </tr>
    <tr>
        <td>Nadace Charty77</td>
        <td>Petr Hazuza</td>
    </tr>
    <tr>
        <td>OpenAlt z.s.</td>
        <td>Ladislav Nešněra</td>
    </tr>
    <tr>
        <td>Oživení o.s.</td>
        <td>Martin Kameník</td>
    </tr>
    </tbody>
</table>