---
layout: wip
---


<div style="
  display: flex;
  flex-direction: column;
  align-items: center;">
<img style="width: 25vw;" src="/assets/img/brand/om_logo_new.png">
<h2 style="text-align: center;">
  Pracujeme na novém webu, který vám už brzo ukážeme.
</h2>

<p>

  <h2>
  Otevřená města, z. s.
  </h2>
  <i>
    IČO 05129061
    <br>
    Malinovského náměstí 624/3
    <br>
    602 00 Brno
    <br>
    datová schránka f47yb4g
    <br>
  <a href="mailto:info@otevrenamesta.cz">info@otevrenamesta.cz</a>
  </i>
  <br>
  <h3 style="text-align: center;">
    <a style="text-decoration: underline;" href="https://drive.google.com/drive/folders/1MZyhHoJdtETc4I8bDKtFR7Z-lCAFSShI?usp=sharing">
      informace o činnosti a hospodaření spolku
    </a>
  </h3>
  <i>
    transparentní účet Fio 2501020615/2010
  </i>
  <br>
  <h3>
    Výbor spolku
  </h3>
  <div>
  <p>
    Lucie Smolka, předsedkyně výboru
    <br>
    <a href="mailto:lucie.smolka@otevrenamesta.cz">lucie.smolka@otevrenamesta.cz</a>
    <br>
    +420 731 123 644
  </p>
  <p>
    Jiří Marek, zástupce předsedkyně
    <br>
    <a href="mailto:jiri.marek@otevrenamesta.cz">jiri.marek@otevrenamesta.cz</a>
    <br>
    +420 602 570 184
  </p>
  <p>
  Štěpán Štrébl, člen výboru
  <br>
  <a href="mailto:stepan.strebl@otevrenamesta.cz">stepan.strebl@otevrenamesta.cz</a>
  </p>
  <p>
  Jiří Hlavenka, člen výboru
  <br>
  <a href="mailto:jiri.hlavenka@otevrenamesta.cz">jiri.hlavenka@otevrenamesta.cz</a>
  </p>
  </div>


</div>