---
layout: page
permalink: /kontakty/
---

<h1>Spolek</h1>

<div class="row">
  <div class="columns medium-4">
    <h2>Elektronické</h2>
    <ul>
      <li>u obecnějších témat zvažte jejich otevření<br/><a href="https://forum.vesp.cz" target="_blank">na webfóru <img src="/assets/img/brand/VeSP.png"></a></li>
      <li><a href="mailto:info@otevrenamesta.cz">info@otevrenamesta.cz</a></li>
      <li><a href="mailto:vybor@otevrenamesta.cz">vybor@otevrenamesta.cz</a></li>
      <li>datová schránka: f47yb4g</li>
    </ul>
  </div>

  <div class="columns medium-4">
    <h2>Listinné</h2>

    <address>
        Otevřená města, z. s.<br>
	<a href="http://www.openstreetmap.org/?mlat=49.1958&mlon=16.6152#map=16/49.1958/16.6152">Malinovského náměstí 624/3</a><br>
        602 00 Brno
    </address>
  </div>

<div class="columns medium-4">
  <h2>Finanční</h2>

  <ul>
    <li>IČO: <a href="https://or.justice.cz/ias/ui/rejstrik-$firma?ico=05129061">05129061</a></li>
    <li>DIČ: CZ05129061</li>
    <li>transparentní účet Fio: <a href="https://www.fio.cz/ib2/transparent?a=2501020615">2501020615/2010</a><br>IBAN: CZ3920100000002501020615</li>
  </ul>
  </div>
</div>

<h1 id="vybor">Výbor <small>statutární orgán</small></h1>

<table>
    <thead>
      <tr>
        <th>jméno</th>
        <th>funkce</th>
        <th>kontakt</th>
	<th>telefon</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lucie Smolka</td>
        <td>předseda výboru</td>
        <td><a href="mailto:lucie@opencontent.cz">lucie.smolka@otevrenamesta.cz</a></td>
	<td>+420 731 123 644</td>
      </tr>
      <tr>
        <td>Jiří Hlavenka</td>
        <td>člen výboru</td>
	<td><a href="mailto:jiri.hlavenka@gmail.com">jiri.hlavenka@otevrenamesta.cz</a></td>
        <td></td>
      </tr>
      <tr>
        <td>Jiří Marek</td>
        <td>člen výboru</td>
	<td><a href="mailto:jirka@opencontent.cz">jiri.marek@otevrenamesta.cz</a></td>
        <td></td>
      </tr>
      <tr>
        <td>Štěpán Štrebl</td>
        <td>člen výboru</td>
	<td><a href="mailto:strebl.stepan@praha3.cz">stepan.strebl@otevrenamesta.cz</a></td>
        <td></td>
      </tr>
    </tbody>
  </table>

<h1 id="kontrolor">Kontrolor</h1>

Martin Šebek

<br/><br/>
<h1 id="rada">Projektová rada <small>poradní orgán</small></h1>

<table>
    <thead>
      <tr>
        <th>jméno</th>
	<th>kontakt / bio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Václav Klecanda</td>
        <td><a href="https://gitlab.com/otevrenamesta/documents/tree/master/kandidatury/Vaclav_Klecanda"><img src="/media/document_pdf.svg" width="20"/></a></td>
      </tr>
    </tbody>
  </table>
