---
layout: page
title: Otevřenost
permalink: /otevrenost/ 
---


<div class="row">
  <div class="columns medium-6 small-12 large-4">
    <p class="text-center"><i class="fas fa-search-dollar fa-9x"></i></p>
    <p class="text-center">Máme <a href="https://ib.fio.cz/ib/transparent?a=2501020615"><strong>transparetní účet</strong></a>. Můžete se sami přesvědčit, co se děje s každou korunou, kterou má spolek. Nebo si projít <a href="https://gitlab.com/otevrenamesta/documents/tree/master/ucetni_zaverky">účetní závěrky</a>.
    </p>
  </div>
  <div class="medium-6 small-12 large-4">
      <p class="text-center"><i class="fas fa-folder-open fa-9x"></i></p>
      <p class="text-center"><strong>Dokumenty</strong> jsou k nalezení v <a href="https://gitlab.com/otevrenamesta/documents/tree/master">repozitáři</a>.</p>      
  </div>
  <div class="medium-6 small-12 large-4">
      <p class="text-center"><i class="fas fa-bullseye fa-9x"></i></p>
      <p class="text-center">Cílíme na všeobecné <a href="{{site.baseurl}}/problemy/"><strong>problémy</strong></a>. Pomocí našich <a href="{{site.baseurl}}/cile/"><strong>cílů</strong></a> s nimi pomůžeme.</p>   
  </div>
  <div class="medium-6 small-12 large-4">
      <p class="text-center"><i class="fas fa-file-signature fa-9x"></i></p>
      <p class="text-center"><a href="https://gitlab.com/otevrenamesta/documents/blob/master/listiny/stanovy.pdf"><strong>Stanovy</strong></a> spolku jasně definují naše cíle i prostředky, kterými jich dosahujeme.</p>   
  </div>

</div>







