---
layout: page
permalink: /projekty/
---

<div class="row">
    <div class="column">
        <h2>Sofware</h2>
    </div>
</div>

<div class="row">
    {% for projekt in site.data.projekty.software %}
    {% if projekt.visible == false %}
    {% continue %}
    {% endif %}
    <div class="card" style="width: 300px">
        <div class="card-divider">
            <h4 class="projekt-header"><a href="{{ projekt.slug | default: projekt.url}}">{{projekt.title}}</a></h4>
            <br>
        </div>
        {% if projekt.updated %}
        <div class="text-right margin-right-1">
            <small>aktualizace: {{ projekt.updated }}</small>
        </div>
        {% endif %}
        <a href="{{ projekt.slug | default: projekt.url }}" class="project-thumbnail-link">
            <img src="{{ projekt.img | prepend: '/assets/img/' | relative_url }}" class="project-thumbnail">
        </a>
        <div class="card-section">
            <p>{{projekt.subtitle}}</p>
            <p>Stav: {% if projekt.done %}
                <strong style="color: green;">Dokončeno &check;</strong>
                {% else %}
                <strong>Aktuálně probíhá
                    {% if projekt.progress > 0 %}
                    ({{ projekt.progress | round }}%)
                    {% endif %}</strong>
                {% endif %}</p>
            {% if projekt.slug %}
            <p><a href="{{projekt.slug}}">Zjistit více</a></p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="column">
        <h2>Odborné semináře a sdílení know-how</h2>
    </div>
</div>

<div class="row">
    {% for projekt in site.data.projekty.knowhow %}
    {% if projekt.visible == false %}
    {% continue %}
    {% endif %}
    <div class="card" style="width: 300px;">
        <div class="card-divider">
            <h4>{{projekt.title}}</h4>
        </div>
        <div class="project-thumbnail-link">
            <img src="{{ projekt.img | prepend: '/assets/img/' | relative_url }}" class="project-thumbnail">
        </div>
        <div class="card-section">
            <p>{{projekt.subtitle}}</p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="column">
        <h2>Slevy</h2>
    </div>
</div>

<div class="row">
    {% for projekt in site.data.projekty.slevy%}
    {% if projekt.visible == false %}
    {% continue %}
    {% endif %}
    <div class="card" style="width: 300px;">
        <div class="card-divider">
            <h4>{{projekt.title}}</h4>
        </div>
        {% if projekt.img %}
        <div class="project-thumbnail-link">
            <img src="{{ projekt.img | prepend: '/assets/img/' | relative_url }}" class="project-thumbnail">
        </div>
        {% endif %}
        <div class="card-section">
            <p>{{projekt.subtitle}}</p>
        </div>
    </div>
    {% endfor %}
</div>

