---
layout: page
title:        Příběhy členů
description:  Příběhy našich členů
permalink: /pribehy/ 
---

{% for story in site.data.user-stories  %}
<div class="columns medium-12" id="story-{{ story.title | slugify }}">
  <h3>{{story.title}}</h3> <blockquote>{{ story.long | liquify }}</blockquote> -- {{story.who}}
</div>
{% endfor %}