<footer class="footer">
  <div class="row footer__main">
    <div class="small-12 middle-6 medium-3 columns">
      <a href="{{ '/' | relative_url }}"><img class="footer__brand" src="{{ 'assets/img/brand/logo_300_white.png' | relative_url }}" alt="logo"></a>
    </div>
    <div class="small-12 middle-6 medium-3 columns">
      <h3 class="footer-nav__headline">Adresa</h3>
      <ul class="no-bullet">
        <li>Otevřená města, z. s.</li>
	<li><a href="http://www.openstreetmap.org/?mlat=49.1958&mlon=16.6152#map=16/49.1958/16.6152">Malinovského náměstí 624/3</a></li>
        <li>602 00 Brno </li>
      </ul>
    </div>
    <div class="small-12 middle-6 medium-3 columns">
      <h3 class="footer-nav__headline"><a href="{{ site.baseurl }}/kontakty/">Kontakty</a></h3>
      <ul class="no-bullet">
	      <li><a href="mailto:info@otevrenamesta.cz">info@otevrenamesta.cz</a></li>
        <li>datová schránka: f47yb4g</li>
	<li>IČO: <a href="https://or.justice.cz/ias/ui/rejstrik-$firma?ico=05129061">05129061</a></li>
      </ul>
    </div>
    <div class="small-12 middle-6 medium-3 columns">
      <h3 class="footer-nav__headline">Dále</h3>
      <ul class="no-bullet">
        <li><a href="https://gitlab.com/otevrenamesta/documents/blob/master/listiny/stanovy.pdf">Stanovy</a></li>
        <li><a href="https://github.com/otevrenamesta">GitHub</a></li>
        <li><a href="https://gitlab.com/otevrenamesta">GitLab</a></li>
      </ul>
    </div>
  </div>

  <div class="footer__copy">
    <div class="row">
      <div class="small-12 columns footer__copy-line">
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/cz/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/cz/88x31.png" /></a> <small>Toto dílo podléhá licenci <a rel="license" href="http://creativecommons.org/licenses/by/3.0/cz/">Creative Commons Uveďte původ 3.0 Česká republika License</a>.</small>
      </div>
    </div>
  </div>
</footer>
