<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ 'assets/favicon/apple-touch-icon-57x57.png' | relative_url }}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ 'assets/favicon/apple-touch-icon-114x114.png' | relative_url }}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ 'assets/favicon/apple-touch-icon-72x72.png'  | relative_url }}">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ 'assets/favicon/apple-touch-icon-144x144.png' | relative_url }}">
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ 'assets/favicon/apple-touch-icon-60x60.png' | relative_url }}">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ 'assets/favicon/apple-touch-icon-120x120.png' | relative_url }}">
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ 'assets/favicon/apple-touch-icon-76x76.png' | relative_url }}">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ 'assets/favicon/apple-touch-icon-152x152.png' | relative_url }}">
<link rel="icon" type="image/png" href="{{ 'assets/favicon/favicon-196x196.png' | relative_url }}" sizes="196x196">
<link rel="icon" type="image/png" href="{{ 'assets/favicon/favicon-128x128.png' | relative_url }}" sizes="128x128">
<link rel="icon" type="image/png" href="{{ 'assets/favicon/favicon-96x96.png' | relative_url }}" sizes="96x96">
<link rel="icon" type="image/png" href="{{ 'assets/favicon/favicon-16x16.png' | relative_url }}" sizes="16x16">
<link rel="icon" type="image/png" href="{{ 'assets/favicon/favicon-32x32.png' | relative_url }}" sizes="32x32">
<link rel="stylesheet" type="text/css" href="{{ 'assets/css/app.css' | relative_url }}" />
<link rel="stylesheet" type="text/css" href="{{ 'assets/styl/all.css' | relative_url }}" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
<link rel="alternate" type="application/atom+xml" href="{{ 'feed.xml' | relative_url }}" />
