<aside class="rbox">
    <h2>Kdo jsme?</h2>
    <p>Spolek {{ site.data.clenstvi | size }} obcí, které chtějí být otevřené vůči svým občanům. Chceme na řešeních spolupracovat a ušetřit tím prostředky našich obcí. <strong><a href="{{'/clenstvi/' | baseurl}}">Připojte se k nám!</a></strong></p>
    <p>Obce se potýkají s velmi podobnými <a href="{{site.baseurl}}/problemy/">problémy</a>. Pomocí našich <strong><a href="{{site.baseurl}}/cile/">cílů</a></strong> chceme napomoci s řešením těchto notorických problémů.</p>
    <h2><a href="{{ site.baseurl }}/clenstvi">Naši členové</a></h2>
    {% assign obce = site.data.clenstvi %}
    <ul>
      {% for obec in obce limit: 4 %}
      <li>{{obec.obec}}: {{obec.obyvatel}} obyvatel</li>
      {% endfor %}
      <li>...</li>
    </ul>
    <p>Celkem {{ site.data.clenstvi | size }} obcí.</p>
</aside>
