<div class="sitebanner show-for-medium">
    <div class="row content-block">
        <div class="columns medium-12 large-6 card card-no-border">
            {% assign story = site.data.user-stories | where: 'homepage', true | sample %}
            <div>
                <h3><a href="{{site.baseurl}}/pribehy/#story-{{story.title | slugify}}">{{story.title}}</a></h3>
                <blockquote>{{story.short}}</blockquote>
                -- {{story.who}}; <a href="{{site.baseurl}}/pribehy/">více úspěšných příběhů</a>
            </div>
        </div>
        <div class="columns medium-12 large-6 card card-no-border">
            <div class="row">
                {% assign projekt = site.data.projekty.software | where: 'homepage', true | sample %}
                <div class="columns medium-8 small-12">
                    <h3>
                        <a href="{{ projekt.slug | default: projekt.url | prepend: '/projekty/' }}">{{projekt.title}}</a>
                    </h3>
                    <p>Stav: {% if projekt.done %}
                        <strong style="color: green;">Dokončeno &check;</strong>
                        {% else %}
                        <strong>Aktuálně probíhá
                            {% if projekt.progress > 0 %}
                            ({{ projekt.progress | round }}%)
                            {% endif %}</strong>
                        {% endif %}</p>
                    <p>{{projekt.short}}<br/><a href="{{site.baseurl}}/projekty/">více našich projektů</a></p>
                </div>
                <div class="medium-4">
                    <a href="{{ projekt.slug | default: projekt.url | prepend: '/projekty/' }}"
                       class="center-image-container">
                        <img
                                src="{{site.baseurl}}{{ projekt.img | prepend: '/assets/img/'}}" class="center-image"
                                alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
