<nav class="sitenav">
  <div class="row">
    <div class="columns small-12">
      <ul class="sitenav-items">
        <li class="sitenav-items__item sitenav-items__item--main{% if page.permalink == '' %} sitenav-items__item--active{% endif %}">
          <div class="sitenav-profile">
              <div class="sitenav-profile__brand">
                <a href="{{ '/' | relative_url }}">
                  <img class="hide-for-small-only" src="{{ 'assets/img/brand/logo_300_white.png' | relative_url }}" alt="Logo" />
                  <img class="show-for-small-only" src="{{ 'assets/img/brand/logo2.png' | relative_url }}" alt="Logo" />
                </a>
              </div>
          </div>
        </li>
        <li class="sitenav-items__item">
          <ul class="sitenav-links">
            <li class="sitenav-links__link{% if page.permalink == '/projekty/' %} sitenav-links__link--active{% endif %}"><a  href="{{ site.baseurl }}/projekty/">Projekty</a></li>
            <li class="sitenav-links__link{% if page.permalink == '/clenstvi/' %} sitenav-links__link--active{% endif %}"><a  href="{{ site.baseurl }}/clenstvi/">Členové</a></li>
            <li class="sitenav-links__link{% if page.permalink == '/otevrenost/' %} sitenav-links__link--active{% endif %}"><a  href="{{ site.baseurl }}/otevrenost/">Otevřenost</a></li>
            <li class="sitenav-links__link{% if page.permalink == '/kontakty/' %} sitenav-links__link--active{% endif %}"><a  href="{{ site.baseurl }}/kontakty/">Kontakty</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
