@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;

  --block-size: 3.75rem;
}

html,
body {
  font-size: 16px;
  @apply text-dark;

  @media (max-width: 1900px) {
    font-size: 14px;
  }

  @media (max-width: 1000px) {
    font-size: 12px;
  }
}

.container {
  @apply mx-auto;
  max-width: 1680px;
  width: 90%;

  &--md {
    max-width: 1200px;
  }
}

[hidden] {
  display: none !important;
}

.fade-enter-active {
  transition: all 400ms;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}


.__nuxt-error-page {
  .error {
    svg {
      margin: 0 auto;
    }
  }
}

.underline-links a {
  @apply underline;
}
