.blog-posting + .blog-posting {
  margin-top: 1rem;
  border-top: 1px $light-gray solid;
  padding-top: 1rem;
}

.blog-posting__headline {

}

.blog-posting__readmore {
  @include anchorStyle();
}


.blog-posting + .pagination {
  margin-top: 2rem;
  margin-bottom: 3rem;
}