.post__author {
  @include headerStyle('h5', sub);
}

.post__thumbnail {
  padding: 1rem;
  width: 100%;
  position: relative;
  min-height: 300px;
}

.post__thumbnail > .thumbnail {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.post__excerpt {
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 1rem;
}

.post__comments {
  margin-top: 2rem;
}

.post__content {
  font-size: 120%;
}
