.project-thumbnail {
  max-width: 280px;
  max-height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.projekt-header {
  height: 2em;
}

.project-thumbnail-link {
  display: block;
  height: 200px;
  width: 280px;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.projekt-partner-image {
  margin: 1rem;
  max-height: 200px;
}

.projekt-partner-link {
  display: block;
  float: left;
  max-width: 100%;
  margin: 0 auto;
}

.background-dark {
  background-color: #3f3f3f;
}

.square {
  position: relative;
  width: 100%;
  max-width: 200px;
}
.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.progress-circle {
  position: absolute;
}