.sitenav {
    background-color: map-get($foundation-palette, ternary);
    padding: 1rem 0;
    margin: 0 0 1rem 0;

    @include breakpoint(large up) {
        padding: 2rem 0;
    }
}

.sitenav-items {
    flex-direction: column;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;

    @include breakpoint(medium up) {
        flex-direction: row;
        align-items: flex-end;
    }
}

.sitenav-items__item--main {
    flex: 1;
    margin-bottom: 1rem;

    @include breakpoint(medium up) {
        margin-bottom: 0;
    }
}

.sitenav-links {
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    margin: 0;

    // Compensates vertical spaces that the font contains (and shouldn’t).
    position: relative;
    bottom: -0.5em;
}

.sitenav-links__link {
    & + & {
        margin-left: 1rem;

        @include breakpoint(720px up) {
            margin-left: 2rem;
        }

        @include breakpoint(large up) {
            margin-left: 3rem;
        }
    }

    a {
        color: $dark-gray;
        transition: all .1s ease-in-out;
        text-transform: uppercase;
        letter-spacing: .01em;

        @include headerStyle('h5', sub);

        @include breakpoint(720px up) {
            @include headerStyle('h4', sub);
        }

        @include breakpoint(large up) {
            @include headerStyle('h3', sub);
        }
    }

    &--active a,
    a:hover {
        color: map-get($foundation-palette, secondary);
    }
}

.sitenav-profile {
    display: flex;

    &__brand img {
        height: 2rem;
        padding-right: 1rem;

        @include breakpoint(large up) {
            height: 3rem;
        }
    }

    &__author {
        line-height: 2rem;
        height: 2rem;
        margin-left: 1rem;

        @include breakpoint(medium up) {
            height: 3rem;
            line-height: 1.5rem;
        }
    }

    &__author-name {
        @include headerStyle('h5', main);

        &,
        &:hover {
            color: map-get($foundation-palette, secondary);
        }
    }
}

.sitenav-social {
    display: none;
    // Align compensation
    padding-top: .1em;

    @include breakpoint(medium up) {
        display: block;
    }
}

.sitenav-social__link {
    color: $dark-gray;
    padding-left: .1rem;

    &:hover {
        color: map-get($foundation-palette, secondary);
    }

    & + & {
        margin-left: .5rem;
    }
}
