.sitebanner {
  border-bottom: 1px $light-gray solid;
  margin-bottom: 3rem;
  box-shadow: 0 .5rem 1.2rem $light-gray;
}

.sitebanner__cover {
  display: flex;
  justify-content: center;
  background-image: url('/assets/img/design/cover-piconly.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 250px;
  padding-right: 40%;
}

.sitebanner .tagcloud {
  display: flex;
  align-items: center;
}

.center-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.center-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.card-no-border {
  border: 0 !important;
}