---
layout: default
---

<article class="page post" itemtype="https://schema.org/Article" itemscope>
  <div class="row">
    <div class="small-12 columns">
      <div itemprop="author" itemtype="http://schema.org/Person" itemscope>
          <span itemprop="name" class="post__author">{{ page.author }}</span>
      </div>
      <h1 itemprop="headline" class="page__headline">{{ page.title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-8 columns">
      <div class="text-right">{{ page.date | date:"%d. %m. %Y" }}</div>
      {% if page.image %}
      <div class="post__thumbnail">
        <img class="thumbnail" src="{{ page.image | prepend: 'assets/img/posts/' | relative_url }}">
        <meta itemprop="image" content="{{ page.image | prepend: 'assets/img/posts/' | relative_url }}">
      </div>
      {% endif %}

      <p class="post__excerpt content-block">
          <meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}" />
          <span itemprop="description">{{ page.excerpt | strip_html }}</span>
      </p>

      <div id="content" class="post__content content-block">
        {{ content | remove: page.excerpt }}
      </div>

      {% if page.comments %}
        <div class="post__comments">
          {% include disqus.html %}
        </div>
      {% endif %}
    </div>

    <div class="medium-4 columns show-for-medium">
      {% include rbar.html %}
    </div>
  </div>
</article>

