---
layout: default
---

<article class="page post" itemtype="https://schema.org/Article" itemscope>
    <div class="row">
        <div class="small-12 columns">
            <div itemprop="author" itemtype="http://schema.org/Person" itemscope>
                <span itemprop="name" class="post__author">{{ page.author }}</span>
            </div>
            <h1 itemprop="headline" class="page__headline">{{ page.title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-8 columns content-block" id="content">

            <small>{{ page.projekt.subtitle }} </small>

            {% if page.projekt.img %}
            <div class="post__thumbnail">
                <img class="thumbnail"
                     src="{{ page.projekt.img | prepend: 'assets/img/' | relative_url }}">
                <meta itemprop="image" content="{{ page.projekt.img | prepend: 'assets/img/' | relative_url }}">
            </div>
            {% endif %}

            <p class="post__excerpt content-block">
                <span itemprop="description">{{ page.projekt.short | strip_html }}</span>
            </p>

            <ul>
                {% if page.projekt.url %}
                <li>Stránky projektu: {{ page.projekt.url | linkify }}</li>
                {% endif %}
                {% if page.projekt.repository %}
                <li>Zdrojový kód: {{ page.projekt.repository | linkify }}</li>
                {% endif %}
            </ul>

            {{ page.projekt.long }}


            {% if page.projekt.partners %}
            {% assign partner_slugs = page.projekt.partners | split: ", " %}
            <div>
                <h3>Partneři projektu</h3>
                <div class="row">
                    {% for partner_slug in partner_slugs %}
                    {% assign partner = site.data.projekty.partners | where: 'slug', partner_slug | first %}
                    <div class="card small-10 medium-6 large-4">
                        <br/>
                        <h6 class="text-center">{{ partner.title }}</h6>
                        <a href="{{ partner.link | default: '#' }}" target="_blank" title="{{ partner.title }}"
                           class="projekt-partner-link">
                            {% if partner.img %}
                            <img src="{{ partner.img | prepend: 'assets/img/' | relative_url }}"
                                 class="projekt-partner-image {% if partner.dark %} background-dark {% endif %}">
                            {% endif %}
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>

        <div class="medium-4 columns">
            <div class="small-12 margin-bottom-1">Stav{% if page.projekt.updated %} (k {{ page.projekt.updated }}){%
                endif %}: {% if page.projekt.done %}
                <strong style="color: green;">Dokončeno &check;</strong>
                {% else %}
                <strong>Aktuálně probíhá</strong>
                {% endif %}
            </div>
            {% if page.projekt.progress > 0 %}
            <div class="square">
                <div class="progress-circle" data-progress="{{ page.projekt.progress | round }}"></div>
            </div>
            {% endif %}

            {% if page.projekt.milestones %}
            <div class="content-block">
                <br/>
                <strong>Milníky projektu:</strong>
                <ul>
                    {% for milestone in page.projekt.milestones %}
                    <li>{% if milestone.when %} {{milestone.when}}: {% endif %} {{ milestone.title }}
                        {% if milestone.done %}
                        <strong style="color: green;">&check;</strong>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

        </div>
    </div>
</article>

