<!doctype html>
<html class="no-js" lang="en">
<head>
	{% capture title %}{% if page.title != '' %}{{ page.title }} | {% endif %}{{ site.title | escape }}{% endcapture %}
	{% capture description %}{% if page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt | replace: '<br>', ' ' | strip_html | strip_newlines | truncate: 330 }}{% elsif layout.description %}{{ layout.description }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
	{% capture keywords %}{% if page.keywords %}{{ page.keywords }}, {% endif %}{% if layout.keywords %}{{ layout.keywords }}, {% endif %}{{ site.keywords }}{% if page.tags %}, {{ page.tags | join: ', ' }}{% endif %}{% endcapture %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta name="HandheldFriendly" content="true"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="robots" content="index,follow" />
	<meta name="description" content="{{ description }}">
	<meta name="keywords" content="{{ keywords }}" />
	<meta property="og:title"         content="{{ title }}" />
	<meta property="og:description"   content="{{ description }}" />
	<meta property="og:image"         content="{% if page.image %}{{ page.image | prepend: '/assets/img/posts/' | absolute_url }}{% else%}{{ site.cover_image | baseurl }}{% endif %}" />
	<meta property="og:type"          content="website" />
	<meta property="og:url"           content="{{ page.url | absolute_url }}" />
	{% include link.html %}
	{% if page.customhead %}{{ page.customhead }}{% endif %}
</head>
<body>
	{{content}}

	{% include javascript.html %}
	{% if page.customjs %}{% include {{ page.customjs }} %}{% endif %}
	{% if page.customfoot %}{{ page.customfoot }}{% endif %}
</body>
</html>
